{% extends "layout.html" %}

{% block navtitle %}<a class="navbar-brand" href="/"><h3>OOPS!</h3></a> {% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">&Hopf;ome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" class="nav-link" href="/saythanks">Say Thanks!&#9825;</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/messages">Mes&Hfr;ages&#9786;</a>
  </li>
  <li class="nav-item align-self-end">
    <a class="nav-link" href="/login">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
      </svg>
    </a>
  </li>
{% endblock %}

{% block title %}ERROR{% endblock %}

{% block body %}
<div class="mt-5 error-form-msg d-flex flex-column align-items-center justify-content-center">
   <h1 class="mt-5" style="color: red;">ERROR /400/</h1>
   <h3>Must select image, add name and comment.</h3>
  </div>  
{% endblock %}