body {
    color: #fff;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
}

h1, h2, h3 {
    font-family: 'Fugaz One', sans-serif;
}

footer {
    height: 200px;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
}

a {
    text-decoration: none;
    color: rgb(99, 99, 255);
}

.intro-container {
    max-width: 1000px;
    min-width: 350px;
    padding: 3rem;
}

.hp-main-container {
    max-width: 400px;
}

.david-btn { 
    border: 1px solid white;
    background-color: transparent;
}

.bi-person-square {
    color: white;
}

.stndr-btn {
    background-color: transparent;
    border: 2px solid white;
    padding: 0.2rem 1rem ;
    color: white;
}

.stndr-btn:active {
    border: 2px solid rgb(57, 228, 57);
}
/* /saythanks */


.choose-img {
    width: 18rem;
    height: auto;
    border-radius: 10px;
    margin: 5px;
}

.img-button {
    width:18rem;
    /* border: 2px solid white; */
    position: relative;
    border-radius: 10px;
    padding: 0;

}

.form-container {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
}

.select-img {
    padding: 0;
    border: 0;
    margin: 5px;
    border-radius: 10px;
    background-color: white;
}

.select-img:focus {
    background-color: rgb(47, 67, 249);
}

/* /saythanks/comment */
.img-selected {
    height: 5rem;
    width: auto;
    border: 1px solid white;
    border-radius: 3px;
}

/* /comments */

.comment-container {
max-width: 300px;
border: 1.5px solid white;
border-radius: 10px;
}


.comment-img {
width: 10rem;
height:auto;
border: 1.5px solid white;
border-radius: 3px;
}


.comment-p {
    text-align: start;
    background-color: rgb(87, 87, 228);
    border: 1.5px solid white;
    padding: 10px;
    border-radius: 10px;

}

.bi-star {
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

#pagination-btns {
    display: flex;
    margin: 2rem;
    align-items: center;
    flex-wrap: wrap;

}

.pag-btns-wrapper {
    padding: 1rem;
}

.page-btn {
    border: none;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    margin:0.2rem;
    background-color: white;
}

.pag-arrow-btn {
    border: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 50%;
    padding: 0.2rem 0.2rem;
    align-items: center;
    justify-content: center;
}

.btn-active {
    background-color: rgb(87, 87, 228);
    color: white;
}


/* LOGIN / REGISTER FORMS */
.login-form-container {
    width: 350px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2rem;
}

.data-container {
    border: 2px solid white;
    padding: 4rem;
    border-radius: 10px;
}



/* MEDIA QUERIES */

@media (min-width: 550px) {
    .grid-comment-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 600px) {
    .grid-comment-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 750px) {
    .grid-comment-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (min-width: 1200px) {
    .grid-comment-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr)
    }
}