{% extends "layout.html" %}

{% block title %}Say Thanks!{% endblock %}

{% block body %}
    <main class="d-flex flex-column align-items-center mb-5">
        <h1 class="m-5">Choose your David!</h1>
        <section class="container-fluid grid gap-5">
            <div class="row text-center">
                <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4 img-card">
                    <button id="king-david-btn" onclick="selectedImg(this)" class="select-img" >
                        <img id="king-david" class="choose-img" src="/static/img/king-david.jpg" alt="king david"/>
                    </button>
                </div>
                <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4 img-card">
                    <button id="matrix-david-btn" onclick="selectedImg(this)" class="select-img" href="#">
                    <img id="matrix-david" class="choose-img" src="/static/img/matrix-david.jpg" alt="matrix david"/>
                    </button>
                </div>
                <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4 img-card">
                    <button id="office-david-btn" onclick="selectedImg(this)" class="select-img" href="#">
                    <img id="office-david" class="choose-img" src="/static/img/office-david.jpg" alt="office david"/>
                    </button>
                </div>
                <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4 img-card">
                    <button id="wizard-david-btn" onclick="selectedImg(this)" class="select-img" href="#">
                    <img id="wizard-david" class="choose-img" src="/static/img/wizard-david.jpg" alt="wizard david"/>
                    </button>
                </div>
                <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4 img-card">
                    <button id="fiftyville-david-btn" onclick="selectedImg(this)" class="select-img" href="#">
                    <img id="fiftyville-david" class="choose-img" src="/static/img/fiftyville-team.jpg" alt="fiftyville team"/>
                    </button>
                </div>
                <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4 img-card">
                    <button id="terminator-david-btn" onclick="selectedImg(this)" class="select-img" href="#">
                    <img id="terminator-david" class="choose-img" src="/static/img/terminator-david.jpg" alt="terminator david"/>
                    </button>
                </div>
            </div>
        </section>
        <section class="d-flex flex-column justify-content-center m-5">
            <h2>Unsure? pick a random David!</h2>
            <div class="align-self-center">
                <button onclick="getRandomImg()" class="stndr-btn mt-2">Random!</button>
            </div>
        </section>
        <div class="d-flex flex-column align-items-center">
            <h2>Write Your Message! </h2>
            <section class="form-container mb-5">
                <div class="mb-3">
                    <img id="mini-img-preview" class="img-selected" src="/static/img/default-img.jpg" />
                        <form action="/send" method="post">
                            <input name="img" id="img-input" type="hidden" value="none">
                            <label class="form-label mt-2">Name</label>
                            <input name="name" type="text" class="form-control" placeholder="Name" maxlength="25">
                            <label class="form-label">Make a Comment!</label>
                            <textarea name="comment" class="form-control" placeholder="Comment" rows="3" maxlength="280"></textarea>
                            <button type="submit" class="stndr-btn mt-2">Send!</button>
                        </form>
                  </div>
            </section>
        </div>
    </main>
{% endblock %}