{% extends "layout.html" %}

{% block title %}Send your Message!{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <h1>Write Your Message! </h1>
        <section class="form-container">
            <div class="mb-3">
                <img class="img-selected" src="/static/img/king-david.jpg"/>
                    <form>
                        <input name="img" type="hidden" value="">
                        <label class="form-label mt-2">Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" maxlength="25">
                        <label class="form-label">Make a Comment!</label>
                        <textarea class="form-control" placeholder="Comment" rows="3" maxlength="280"></textarea>
                        <button type="submit">Send!</button>
                    </form>
              </div>
        </section>
    </div>
{% endblock %}