{% extends "layout.html" %}

{% block title %}Say Thanks!{% endblock %}

{% block body %}
    <main class="d-flex justify-content-center">
      <div class="intro-container d-flex flex-column align-items-center justify-content-center">
        <h1 class="mb-5 text-center">A place to share your gratitude towards David and CS50's Team!</h1>
        <section class="hp-main-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Qui quia, eaque alias, incidunt dignissimos quaerat nostrum voluptates 
                rerum impedit voluptatum atque dicta fugiat itaque ut doloribus molestiae iure, 
                iusto placeat.</p>
            <button class="stndr-btn">Say Thanks!</button>
        </section>
      </div>
    </main>
{% endblock %}