{% extends "layout.html" %}

{% block title %}Say Thanks!{% endblock %}

{% block body %}
    <main class="d-flex flex-column align-items-center">
        <h1 class="m-5">A place to share your gratitude towards David and CS50!</h1>
        <section class="hp-main-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Qui quia, eaque alias, incidunt dignissimos quaerat nostrum voluptates 
                rerum impedit voluptatum atque dicta fugiat itaque ut doloribus molestiae iure, 
                iusto placeat.</p>
            <button class="bt btn-success">Say Thanks!</button>
        </section>
    </main>
{% endblock %}