{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
   <div class="sign-register-container d-flex flex-column align-items-center mt-5 text-center">
        <div class="login-form-container d-flex flex-column align-items-center justify-content-center mt-5">
            <h1>Sign In</h1>
            <form action="/login" method="post" class="d-flex flex-column align-items-center justify-content-center">
                <label class="align-self-start mt-2">Username</label>
                <input name="username" type="text" placeholder="username">
                <label class="align-self-start mt-2">Password</label>
                <input name="password" type="password" placeholder="password">
                <button id="login-btn" type="submit" class="stndr-btn mt-2">Login</button>
                <div id="login-spinner" style="display: none;" class="spinner-border mt-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </form>
        </div>
        <p class="mt-2">Don't have an account yet? <br> <a href="/register">Click here</a> to Register!</p>
   </div>
   <script>
    d = document;

    d.querySelector("form").addEventListener("submit", function() {
        d.getElementById("login-btn").style.display = "none"
        d.getElementById("login-spinner").style.display = "inline-block";
    })
   </script>
{% endblock %}