{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
   <div class="d-flex flex-column align-items-center justify-content-center mt-5 text-center">
        <div class="login-form-container d-flex flex-column align-items-center justify-content-center">
            <h1>Sign In</h1>
            <form action="/login" method="post" class="d-flex flex-column align-items-center justify-content-center">
                <label class="align-self-start mt-2">Username</label>
                <input name="username" type="text" placeholder="username">
                <label class="align-self-start mt-2">Password</label>
                <input name="password" type="password" placeholder="password">
                <button type="submit" class="stndr-btn mt-2">Login</button>
            </form>
        </div>
        <p class="mt-2">Don't have an account yet? <br> <a href="/register">Click here</a> to Register!</p>
   </div>
{% endblock %}