{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
   <div class="d-flex flex-column align-items-center justify-content-center mt-5 text-center">
        <div class="login-form-container d-flex flex-column align-items-center justify-content-center">
            <h1>Register</h1>
            <form action="/register" method="post" class="d-flex flex-column align-items-center justify-content-center">
                <label class="align-self-start mt-2">Username</label>
                <input name="username" type="text" placeholder="username">
                <label class="align-self-start mt-2"><small>**</small> Password</label>
                <input name="password" type="password" placeholder="password">
                <label class="align-self-start mt-2"><small>**</small> Confirm Password</label>
                <input name="passconfirm" type="password" placeholder="password confirmation">
                <button type="submit" class="stndr-btn mt-2">Register</button>
            </form>
            <small class="align-self-start mt-4"><i>**As this is an app in development, be sure to use a password you've ever used before and that you don't plan to use in the future ;)</i></small>
        </div>
        <p class="mt-2">Already have an account? <br> <a href="/login">Click here</a> to Sign in!</p>
   </div>
{% endblock %}